In [1]:
import pandas as pd 
import numpy as np

In [7]:
df = pd.DataFrame([('bird', 2, 2),
                   ('mammal', 4, np.nan),
                   ('arthropod', 8, 0),
                   ('bird', 2, np.nan),
                    ('bird', 2, 2)  ,
                    ('mammal', 4, np.nan)],
                  index=('falcon', 'horse', 'spider', 'ostrich','test', 'nhathai'),
                  columns=('species', 'legs', 'wings'))
df

           species  legs  wings
falcon        bird     2    2.0
horse       mammal     4    NaN
spider   arthropod     8    0.0
ostrich       bird     2    NaN
test          bird     2    2.0
nhathai     mammal     4    NaN

In [9]:
mode  = df['species'].mode()
mode

0    bird
Name: species, dtype: object